body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.upper {
    height: 450px;
    background: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 200px;
}

.links {
    display: flex;
    gap: 100px;
    margin-right: 200px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.hero-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.hero {
    margin-left: 200px;
}

.hero .head {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 400px;
}

.hero .content {
    font-size: 18px;
    color: #e5e7eb;
    width: 430px;
    margin-bottom: 8px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.upper img {
    margin-right: 200px;
    width: 450px;
    height: 250px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.info-head {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 40px;
}

.info-image {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

.info-text {
    max-width: 200px;
}

.info img {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    border: solid #3882f6;
    border-radius: 12px;
}

.quote {
    background-color: #e5e7eb;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: inline;
}

#quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

#quote-sign {
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding-left: 800px;
}

.bottom-sign-up {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e5e7eb;
    margin-top: 40px;
    width: 800px;
    height: 150px;
    border-radius: 12px;
}

.bottom-sign-up .head {
    font-weight: bold;
    font-size: 36px;
}

.bottom-sign-up .sign-up {
    display: inline;
    border: solid white 2px;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
